.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-display {
  height: auto;
  width: 100%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.control-bar {
  height: 70px;
  width: auto;
  background-color: #34495E;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

html,
head,
body,
.container-fluid,
.col-md-12 {
  height: 100%;
}

.display {
  /*width: 820px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#slider {
  margin-bottom: 10px;
}

body {
  background-color: #ECF0F1;
}

.btn-controls {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 13px;
  margin-left: 5px;
}

.fui-video,
.fui-star {
  padding-right: 3px;
}

#video {
  height: auto;
  width: 100%;
  background-color: #BDC3C7;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}